torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
--find-links https://download.pytorch.org/whl/cu121

transformers==4.46.1
datasets==2.16.1
tqdm
numpy==1.26.3
pandas
scikit-learn
wandb
lm-eval==0.4.2
matplotlib
